{% extends 'layout.jinja2' %}


{% block content %}
<p>{{ content|safe }}</p>


<p>
<a href="{{ edit_url }}">
    
</a>
</p>
<p><font size="5" font= "georgia">
    Welcome to the Biomolecule infrared spectra databank <strong></strong><strong> </strong>
</p>
<p>
Please use navigation pain above to login, create an account, add data to the databank or search for spectra
</p>
<p>Databank is still under development <br></p>
{% endblock content %}