{% extends 'layout.jinja2' %}

<head>
  <title>
    Deform Demo Site
  </title>
  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- CSS -->
  <link rel="stylesheet" href="C:/ftirdb/ftirdb/static/form.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- JavaScript -->
  <script type="text/javascript"
          src="C:/ftirdb/ftirdb/static/jquery-2.0.3.min.js"></script>
  <script type="text/javascript"
          src="C:/ftirdb/ftirdb/static/form.js"></script>
  
</head>




{% block content %}
</div>

   <div class="row">
            <div class="col-md-12" left>
                <div class="row">
			<div class="col-md-1">
			</div>
                    <div class="col-md-3"> <a href=""><form action="" id="one"></a>
<div class="form-group">
    <input type="submit" name="form.submitted" value="Add spectrometer" class="btn btn-primary">
</div>

<form action="" id="one">
<div class="form-group">
    <input type="submit" name="form.submitted" value="Addspectra" class="btn btn-primary">
</div>
</form>
</form>

  	
<b> Experiment information</b> 
<div> {% for key in experiment %}
<li>{{ key | safe }} : {{ experiment[key] | safe }}</li>

{% endfor %}
</div>
<b> Experimental conditions</b> 
<div> {% for key in conditions %}
<li>{{ key | safe }} : {{ conditions[key] | safe }}</li>

{% endfor %}
<b> Data aquisition details</b> 
<div> {% for key in data_aquisition %}
<li>{{ key | safe }} : {{ data_aquisition[key] | safe }}</li>

{% endfor %}
</div>

Related Spectra
{% for key,value in spectra.items() %}

<p>
<li><a href='http://localhost:6543/spectraPage/{{ key | safe}}' >{{ key }} <a href='http://localhost:6543/static/data/{{ value | safe}}' download > download final published   </a><font color={{ dic4[key] | safe}}> Spectra color</li>
</p>

{% endfor %}

                    </div></div></div>
                     
                        
   		    <div class="col-md-8">
		     <img src="{{request.static_url('ftirdb:static/experiment.png') }}" id="picture" width=800px>
   			</div>
			</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
	


   </div>
</div>





{% endblock content %}