Jinja 2 layouts are written in HTML but include JS and HTML5 components and use CSS 

For more information see the FTIRDB user guide. 

Contents 

404 - error page
About
addAccount
addPage
edit
from
graph
layout
login
results
searchdb
UserArea
view