{% extends 'layout.jinja2' %}

{% block subtitle %}Edit {{pagename}} - {% endblock subtitle %}

{% block content %}
<p>
 <strong>Search Page</strong>
</p>

<p> Search for anything within a table:
</p>

<form action="{{ save_url }}" method="post">
<div class="form-group">
    <textarea class="form-control" name="body" rows="1" cols="30">{{ pagedata }}
</textarea>
</div>

Choose a table to search 
<select name="table" id="deformField3" class=" form-control "> 
<option value="project">Project</option>
<option value="experiment">Experiment</option> 
<option value="sample">Sample</option> 
<option value="molecule">Molecule</option>
<option value="spectra">Spectra</option>
<option value="spectrometer">Spectrometer</option>
<option value="protein">Protein</option>
<option value="chemical">chemical</option>
<option value="other">other</option>
<option selected="selected" value=""></option> </select> 

<br></br>
<div class="form-group">
    
    <input type="submit" name="form.submitted" value="Search" class="btn btn-primary">
</div>
</form>
<br> Search will search in all columns within specified table.
The results will be returned as a list of ID's and hyperlinks to the records</br>
{% endblock content %}