{% extends 'layout.jinja2' %}

{% block subtitle %}Edit {{pagename}} - {% endblock subtitle %}

{% block content %}


<div class="form-group">
     <p><input type=file name='file'>
    <button type="submit" name="submitbutton" value="Save" class="btn btn-default">Save</button>
</div>
</div>
    </form>
</div>
</form>
{% endblock content %}



